@use "variables" as *;

// Mixin for handling both min-width and max-width breakpoints (min-width is default)
@mixin breakpoint($size, $type: min) {

    // If the $size is a key in the $breakpoints map
    @if map-has-key($breakpoints, $size) {
        $breakpoint-value: map-get($breakpoints, $size);

        @media (#{if($type == 'min', 'min-width', 'max-width')}: #{$breakpoint-value}) {
            @content;
        }
    }

    // If it's a custom value (directly passed in px)
    @else if type-of($size)=='string' or type-of($size)=='number' {
        @media (#{if($type == 'min', 'min-width', 'max-width')}: #{$size}) {
            @content;
        }
    }

    // If an invalid value is provided
    @else {
        @warn "Invalid breakpoint value: #{$size}. Please provide a valid breakpoint name or pixel value.";
    }
}

// Font-face mixin to define custom fonts
@mixin font-face($font-family, $font-path, $font-name, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('#{$font-path}#{$font-name}.woff2') format('woff2'),
        url('#{$font-path}#{$font-name}.woff') format('woff');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}